  .cart{   
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
  }

  .onCart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100vw;

  }

h3{   
  text-align: center;
}

p{   
  text-align: center;
}

.totalPrice {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.count{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
}

.payment{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: medium;
  margin-top: 10px;
  background: no-repeat scroll 0% 0% rgba(158, 172, 116, 0.9);
  border: none;
  color: white;
}