
  .modal{
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(139, 139, 139, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    color: rgba(158, 172, 116);
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal.is-open{
    display: flex;
  }

  .modalContainer{
    position: relative;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    max-height: 600px;
    background-color: white;
    overflow-y: auto;
    padding: 1rem;
  }

  .modalClose{
    position:absolute;
    top: 1rem;
    right: 1rem;
  }

 