@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

.header_bg {
    background: no-repeat scroll 0% 0% rgba(158, 172, 116, 0.9);
    padding: 0;
    width: 100%;
    font-family: quicksand;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

#topnav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 1%;
}

#topnav .logo {
  margin: 0.5em 0 0.5em 1em;
}

.header_bg > img{
  margin-left: 20px;
}

#topnav .logo a {
  text-decoration: none;
  padding: 3px 0 0 5px;
  display: block;
}

#topnav nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#topnav nav ul {
  list-style: none;
}
#topnav nav ul li {
  display: block;
  float: left;
  margin-right: 20px;
  font-size: 16px;
}

#topnav nav ul li a {
  color: #e7dfd5;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 12px;
  padding: 1em 0.7em;
  display: block;
  transition: 0.5s all;
  -webkit-transition: 0.51s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-transform: uppercase;
  margin-top: 5px;
}
#topnav nav ul li a:hover {
  color: #555;
  background: none;
  border-bottom: 2px solid #c06;
}
#topnav nav ul li a:active {
  color: #555;
  background: none;
  border-bottom: 2px solid #c06;
}

.seach > input {
  right: 1em;
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 23px;
  text-align: center;
}


.cart {
  width: 35px;
}
